.table-container {
  width: 100%;
  height: auto;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-panel-summary {
  margin-top: 10px !important;
  padding-bottom: -50px !important;
}

.mat-column-forecastBalance {
  width: 150px;
  text-align: right;
  padding-right: 5px;
}

.mat-column-availableBalance {
  width: 150px;
  text-align: right;
  padding-right: 5px;
}

.saldos {
  height: 30px;
}

.summary {
  border-radius: var(--border-radius);
}
