<br>
<div class="row" style="margin-top: -20px !important; margin-bottom: -20px !important;">
  <div class="col">
    <mat-form-field appearance="fill" class="calendar">
      <mat-label>Mês e Ano</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <button mat-icon-button (click)=setPreviousMonth() color="primary" class="previous-month" aria-label="Mês anterior"
      matTooltip="Mês anterior">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-icon-button (click)=setNextMonth() color="primary" class="next-month" aria-label="Próximo mês"
      matTooltip="Próximo mês">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
<div class="row" *ngIf="showMonthName">
  <span class="center month-name">{{monthName}}</span>
</div>
<hr *ngIf="showMonthName">
