<div class="container">
  <div class="row">
    <div class="row justify-content-center">
      <mat-spinner color="accent" *ngIf="!hideProgress"></mat-spinner>
    </div>
    <div class="row justify-content-center text-center" *ngIf="hideProgress">
      <span>Total Geral:</span>
      <span><b>{{total | currency : '':''}}</b></span>
    </div>
    <div class="d-flex justify-content-center text-center" *ngIf="hideProgress">
      <div class="row">
        <span>Meu Total:</span>
        <span class="align-center"><b>{{myTotal | currency : '':''}} </b>({{percMyTotal}})</span>
      </div>
      <div class="row">
        <span>Total Terceiros:</span>
        <span><b>{{othersTotal | currency : '':''}} </b>({{percOthersTotal}})</span>
      </div>
    </div>
    <!-- Add button -->
    <div class="row justify-content-center" *ngIf="hideProgress">
      <button class="default-button" mat-mini-fab matTooltip="Adicionar compra no cartão" matTooltipPosition="right"
        color="accent" aria-label="Adicionar compra no cartão" (click)="add()">
        <mat-icon class="default-icon">post_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="hideProgress">
    <div class="table-container mat-elevation-z8">
      <!-- Table -->
      <table mat-table [dataSource]="cardpostings">
        <!-- # Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index" [ngClass]="{'bold': row.people || row.parcels > 1}"
            [ngStyle]="{color: row.amount < 0 ? '#e35e6b' : row.people ? row.people.color : 'black'}">
            {{i + 1}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: total < 0 ? '#e35e6b' : 'black'}"> Total </td>
        </ng-container>

        <!-- Data Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'bold': row.people || row.parcels > 1}"
            [ngStyle]="{color: row.amount < 0 ? '#e35e6b' : row.people ? row.people.color : 'black'}">
            {{row.date | date: 'dd/MM'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Descrição Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'bold': row.people || row.parcels > 1}"
            [ngStyle]="{color: row.amount < 0 ? '#e35e6b' : row.people ? row.people.color : 'black'}">
            {{row.description}}
            <div class="small-text" *ngIf="row.peopleId !== null || row.parcels > 1">
              <span *ngIf="row.parcels > 1">({{row.parcelNumber}}/{{row.parcels}}) </span>
              <span *ngIf="row.peopleId !== null"><i>{{row.peopleId}}</i></span>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let row" [ngClass]="{'bold': row.people || row.parcels > 1}"
            [ngStyle]="{color: row.amount < 0 ? '#e35e6b' : row.people ? row.people.color : 'black'}">
            {{row.amount | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: total < 0 ? '#e35e6b' : 'black'}">
            {{total | currency : '':''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (click)="editOrDelete(row)" *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
  </div>
</div>
