<div class="row center">
  <div class="row justify-content-center">
    <mat-spinner color="accent" *ngIf="!hideProgress"></mat-spinner>
  </div>
</div>

<div class="row center">

  <div class="col"></div>

  <div class="col justify-content-center text-center" *ngIf="hideProgress">
    <span>Total Geral: </span>
    <span><b>{{total | currency : '':''}}</b></span>
  </div>

  <div class="col refresh" *ngIf="hideProgress">
    <button class="default-button" mat-mini-fab matTooltip="atualizar" matTooltipPosition="left" color="warn"
      aria-label="Atualizar" (click)="refresh()">
      <mat-icon class="default-icon">autorenew</mat-icon>
    </button>
  </div>

  <div class="d-flex justify-content-center text-center" *ngIf="hideProgress">

    <div class="row">
      <span>Meu Total:</span>
      <span class="align-center"><b>{{myTotal | currency : '':''}} </b>({{percMyTotal}})</span>
    </div>

    <div class="row">
      <span>Total Terceiros:</span>
      <span><b>{{othersTotal | currency : '':''}} </b>({{percOthersTotal}})</span>
    </div>

  </div>
</div>

<div class="row">
  <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false" *ngIf="hideProgress">
    <mat-expansion-panel class="mat-panel-cards" [hideToggle]="false" [(expanded)]="cardPostingsPanelExpanded"
      (closed)="cardPostingsPanelClosed()" (opened)="cardPostingsPanelOpened()">
      <mat-expansion-panel-header>
        <span class="material-icons center accent">credit_score</span>
        <span class="center accent">Lançamentos</span>
      </mat-expansion-panel-header>
      <!-- Add button -->
      <div class="row center" *ngIf="hideProgress">
        <div class="col-2">
          <mat-checkbox [(ngModel)]="checkCard">Conferir Cartão</mat-checkbox>
        </div>
        <div class="col center">
          <button class="default-button" mat-mini-fab matTooltip="Adicionar compra no cartão" matTooltipPosition="right"
            color="accent" aria-label="Adicionar compra no cartão" (click)="add()">
            <mat-icon class="default-icon">post_add</mat-icon>
          </button>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="mytable" *ngIf="hideProgress">
        <div class="table-container mat-elevation-z8">
          <!-- Table -->
          <table mat-table [dataSource]="cardpostings" cdkDropList [cdkDropListData]="cardpostings"
            (cdkDropListDropped)="drop($event)">
            <!-- # Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let row; let i = index"
                [ngClass]="{'bold': row.people || row.parcels > 1, 'negative': row.amount < 0, 'positive': row.amount >= 0, 'without-category': row.others == 0 && row.categoryId == null}"
                [ngStyle]="{color: row.people && !darkTheme ? row.people.color : ''}">
                {{i + 1}}</td>
              <td mat-footer-cell *matFooterCellDef [ngClass]="total < 0 ? 'negative' : 'positive'"> Total </td>
            </ng-container>

            <!-- Data Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Data</th>
              <td mat-cell *matCellDef="let row"
                [ngClass]="{'bold': row.people || row.parcels > 1, 'negative': row.amount < 0, 'positive': row.amount >= 0, 'without-category': row.others == 0 && row.categoryId == null}"
                [ngStyle]="{color: row.people && !darkTheme ? row.people.color : ''}">
                {{row.date | date: 'dd/MM'}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Descrição Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Descrição</th>
              <td mat-cell *matCellDef="let row"
                [ngClass]="{'bold': row.people || row.parcels > 1, 'negative': row.amount < 0, 'positive': row.amount >= 0, 'without-category': row.others == 0 && row.categoryId == null}"
                [ngStyle]="{color: row.people && !darkTheme ? row.people.color : ''}">
                {{row.description}}
                <div class="small-text" *ngIf="row.peopleId !== null || row.parcels > 1">
                  <span *ngIf="row.parcels > 1">({{row.parcelNumber}}/{{row.parcels}}) </span>
                  <span *ngIf="row.peopleId !== null"><i>{{row.peopleId}}</i></span>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <!-- Valor Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let row"
                [ngClass]="{'bold': row.people || row.parcels > 1, 'negative': row.amount < 0, 'positive': row.amount >= 0, 'without-category': row.others == 0 && row.categoryId == null}"
                [ngStyle]="{color: row.people && !darkTheme ? row.people.color : ''}">
                {{row.amount | currency : '':''}}</td>
              <td mat-footer-cell *matFooterCellDef [ngClass]="total < 0 ? 'negative' : 'positive'">
                {{total | currency : '':''}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row (click)="editOrDelete(row, $event)" *matRowDef="let row; columns: displayedColumns" cdkDrag
              [cdkDragData]=row [ngClass]="{'card-yield-checked': row.isSelected}"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="row">
  <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false" *ngIf="hideProgress">
    <mat-expansion-panel class="mat-panel-cards" [hideToggle]="false" [(expanded)]="peoplePanelExpanded"
      (closed)="peoplePanelClosed()" (opened)="peoplePanelOpened()">
      <mat-expansion-panel-header>
        <span class="material-icons center accent">people</span>
        <span class="center accent">Pessoas</span>
      </mat-expansion-panel-header>

      <div class="mytable" *ngIf="hideProgress">
        <div class="table-container mat-elevation-z8">

          <table mat-table [dataSource]="cardpostingspeople">
            <!-- Descrição Column -->
            <ng-container matColumnDef="person">
              <th mat-header-cell *matHeaderCellDef>Pessoa</th>
              <td mat-cell *matCellDef="let row">{{row.person}}
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <!-- A Receber Column -->
            <ng-container matColumnDef="toReceive">
              <th mat-header-cell *matHeaderCellDef>A Receber</th>
              <td mat-cell *matCellDef="let row">{{row.toReceive | currency : '':''}}</td>
              <td mat-footer-cell *matFooterCellDef>{{toReceiveTotalPeople | currency : '':''}}</td>
            </ng-container>

            <!-- Recebido Column -->
            <ng-container matColumnDef="received">
              <th mat-header-cell *matHeaderCellDef>Recebido</th>
              <td mat-cell *matCellDef="let row">{{row.received | currency : '':''}}</td>
              <td mat-footer-cell *matFooterCellDef>{{receivedTotalPeople | currency : '':''}}</td>
            </ng-container>

            <!-- Restante Column -->
            <ng-container matColumnDef="remaining">
              <th mat-header-cell *matHeaderCellDef>Restante</th>
              <td mat-cell *matCellDef="let row">{{row.remaining | currency : '':''}}</td>
              <td mat-footer-cell *matFooterCellDef>{{remainingTotalPeople | currency : '':''}}</td>
            </ng-container>

            <!-- Ações Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon class="people-actions">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item id="menu-incomes" (click)="receive(row)">
                    <mat-icon id="menu-icon-incomes">price_check</mat-icon>
                    <span>Receber</span>
                  </button>
                </mat-menu>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedPeopleColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedPeopleColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedPeopleColumns; sticky: true"></tr>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
