<div class="container">
  <app-datepicker (referenceChange)="reference=$event"></app-datepicker>
  <div class="">
    <hr>
    <mat-progress-bar mode="query" color="accent" *ngIf="!hideProgress"></mat-progress-bar>
    <button class="card-button" [ngClass]="{'line': buttonName === card.name}" mat-button *ngFor="let card of cards"
      [ngStyle]="{backgroundColor: card.background, color: card.color}"
      (click)=getCardTotals(card)>{{card.name}}</button>
    <hr>
  </div>
  <div class="row">
    <app-cardpostings [cardId]=cardId [reference]=reference></app-cardpostings>
  </div>
</div>
