.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.calendar {
  margin-right: 10px;
}

.card-button {
  margin: 0px 0px 5px 5px;
  cursor: pointer;
}

.card-button:hover,
.card-button:focus,
.card-button:active {
  box-shadow: 0 5px 15px rgba(255, 64, 129, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.arrow {
  size: 12px;
}

.arrow:hover {
  font-weight: bold;
}

.month-name {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 64, 129);
}

.previous-month,
.next-month {
  color: #6e6e6e
}

.line {
  border-color: rgb(255, 64, 129, 0.9);
  border-top-style: solid;
  box-shadow: 0 5px 15px rgba(255, 64, 129, 0.3);
}
