<div class="container">
  <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
    <mat-expansion-panel style="margin-top: 10px !important; padding-bottom: -50px;" [hideToggle]="false">
      <mat-expansion-panel-header>
        <span class="material-icons center"> calendar_month </span>
        <span class="center"><b>{{referenceHead}}</b></span>
        <span class="material-icons center" style="padding-left: 10px"> credit_card </span>
        <button mat-button class="center"
          [ngStyle]="{backgroundColor: card?.background, color: card?.color}">{{card?.name}}</button>
      </mat-expansion-panel-header>
      <app-datepicker style="margin-top: -75px !important" (referenceChange)="setReference($event)" [cardId]="cardId">
      </app-datepicker>
      <div class="">
        <mat-progress-bar mode="query" color="accent" *ngIf="!hideProgress"></mat-progress-bar>
        <button class="card-button" [ngClass]="{'line': buttonName === card.name}" mat-button *ngFor="let card of cards"
          [ngStyle]="{backgroundColor: card.background, color: card.color}" (click)=setCard(card)>{{card.name}}</button>
        <hr>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="row" style="margin-top: 10px">
    <app-cardpostings [cardId]=cardId [reference]=reference></app-cardpostings>
  </div>
</div>
