<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="calendar">
        <mat-label>Mês e Ano</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <button mat-icon-button (click)=setPreviousMonth() color="primary" class="previous-month"
        aria-label="Mês anterior">
           <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-icon-button (click)=setNextMonth() color="primary" class="next-month" aria-label="Próximo mês">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="row ">
    <p class="d-flex justify-content-center month-name">{{monthName}}</p>
  </div>
  <div class="">
    <button class="account-button" mat-button *ngFor="let account of accounts"
      [ngStyle]="{backgroundColor: account.background, color: account.color}"
      (click)=getAccountTotals(account)>{{account.name}}</button>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center text-center">
      <div class="row ">
        <span>Saldo Anterior:</span>
        <span><b>{{previousBalance | currency : 'BRL'}}</b></span>
      </div>
      <div class="row">
        <span>Saldo Atual:</span>
        <span class="align-center"><b>{{totalBalance | currency : 'BRL'}}</b></span>
      </div>
      <div class="row">
        <span>Rendimentos:</span>
        <span><b>{{totalYields | currency : 'BRL'}}</b></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-accountpostings [accountId]=accountId [reference]=reference></app-accountpostings>
</div>
