<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="closeSideNav()" routerLink="/summary"> <i
          class="material-icons">account_balance_wallet</i>Saldos</a>
      <a mat-list-item (click)="closeSideNav()" routerLink="/budget"><i
          class="material-icons">view_quilt</i>Orçamento</a>
      <a mat-list-item (click)="closeSideNav()" routerLink="/accounts"><i
          class="material-icons">account_balance</i>Contas</a>
      <a mat-list-item (click)="closeSideNav()" routerLink="/cards"><i class="material-icons">credit_card</i>Cartões</a>
    </mat-nav-list>
    <div class="theme-button">
      <mat-slide-toggle [(ngModel)]="themeToggle" (change)="changeTheme()">Tema escuro</mat-slide-toggle>
      <p></p>
      <mat-nav-list>
        <span class="user"><i class="material-icons">account_circle</i>{{user.name}}</span>
        <a mat-list-item (click)="logout()"><i class="material-icons">logout</i>Sair</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async" style="margin-left: -15px">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <img src="./../../../../assets/img/budget64.png" alt="logo" style="height: 50px;padding-right: 5px;">
        <span style="padding-right: 10px;">Budget</span>
      </div>
      <span class="title-group">
        <a routerLink={{routeUrl}}>
          <i class="material-icons">
            {{icon}}
          </i>
          {{title}}
        </a>
      </span>
      <!-- <button mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
