.sidenav {
  width: 200px;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.title-group i {

  padding-right: 1px;
}

.theme-button {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}