/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

th.mat-header-cell {
  height: 4em !important;
  font-size: 1em !important;
  font-weight: bold !important;
  border-style: solid !important;
  border-bottom: 2px black !important;
  color: rgb(30, 31, 32) !important;
}

td.mat-cell {
  border-style: none !important;
}

tr.mat-row {
  cursor: pointer;
  height: 2em !important;
}

tr:nth-child(even) {
  background: #e0e0e0
}

tr:nth-child(even) {
  background: #e0e0e0
}

tr:nth-child(odd) {
  background: #f2f2f2
}

tr.mat-footer-row {
  height: 3em !important;
}

.negative {
  color: red;
}

.positive {
  color: black;
}

input.right-align {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cancel {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.default-icon {
  line-height: 22px !important;
  margin-right: 6px !important;
  font-size: 30px !important;
}

.default-button {
  margin: 5px 0px 5px 0px !important;
}

.mat-dialog-actions {
  display: flex !important;
  justify-content: center !important;
}

.small-text {
  font-size: 0.8em !important;
}

.mat-expansion-panel-header {
  color: rgb(112, 112, 112) !important;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mytable {
  /* --bs-gutter-x: 1.5rem; */
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
