/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



tr.mat-row {
  height: 0px !important;
}

tr.mat-footer-row {
  height: 3px !important;
}
