@use "@angular/material" as mat;
@use "../src/app/shared/datepicker/datepicker.component" as datepicker;

@import "~@angular/material/theming";
@include mat.core();

:root {
  --border-radius: 4px;

  .table-container {
    border-radius: var(--border-radius);
  }

  .bold {
    font-weight: 600;
  }

  .mat-expansion-panel-header {
    font-weight: 600 !important;
  }

  .add-list-item {
    font-size: 40px;
    cursor: pointer;
    padding-bottom: 15px;
  }

  .add-account {
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    vertical-align: middle;
    margin-top: -2px;
  }

  .add-card {
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    vertical-align: middle;
    margin-top: -2px;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  .icon-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .card-detail {
    display: inline-block;
    min-width: 50px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
  }

  .account-detail {
    display: inline-block;
    min-width: 50px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
  }
}

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette, 900);
$light-accent: mat.define-palette(mat.$pink-palette);
//$light-warn: mat.define-palette(mat.$pink-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      //warn: $light-warn,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$grey-palette, 800);
$dark-accent: mat.define-palette(mat.$pink-palette);
$dark-warn: mat.define-palette(mat.$amber-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

$sidenav-dark: map-get($dark-theme, primary);
$sidenav-light: map-get($light-theme, primary);
$primary-light: map-get($light-theme, primary);

// Apply the light theme by default
@include mat.all-component-colors($light-theme);
// @include nav.theme($light-theme);

// Apply the dark theme only when the `.dark-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include datepicker.theme($dark-theme);

  $accent: map-get($dark-theme, accent);
  $warn: map-get($dark-theme, warn);

  $underline-color-accent: mat-color($accent);
  $underline-color-warn: mat-color($warn);

  --toolbar-color: #ffffff;
  --white-color: white;
  --red-color: rgb(255, 144, 136);
  --red2-color: rgb(255, 200, 200);
  --green-color: rgb(200, 255, 200);
  --blue-color: rgb(155, 170, 255);
  --blue2-color: rgb(208, 215, 255);
  --blue3-color: rgb(63, 81, 181);
  --pink-color: rgb(255, 203, 221);
  --month-name-color: #ffffff;
  --summary-background-color: #424242;
  --expansion-panel-header: var(--white-color);
  --accent: rgb(233, 30, 99);
  --yellow: #ffc107;

  .mat-table {
    border-top: 1px solid #e0e0e0;
  }

  .bg-primary {
    background-color: var(--blue3-color) !important;
  }

  .text-color {
    color: var(--white-color);
  }

  .primary {
    color: var(--blue-color);
  }

  .accent {
    color: var(--red-color);
  }

  .warn {
    color: var(--yellow);
  }

  .red {
    color: var(--red-color);
  }

  .red2 {
    color: var(--red2-color);
  }

  .green {
    color: var(--green-color);
  }

  .sidenav {
    background-color: mat-color($sidenav-dark);
  }

  .login-container {
    background-color: #303030;
    color: #fff;
  }

  .mat-list-item-content {
    color: var(--toolbar-color);
  }

  .mat-toolbar {
    color: var(--toolbar-color);
  }

  .mat-toolbar a {
    color: var(--toolbar-color);
  }

  .mat-nav-list {
    color: var(--toolbar-color);
  }

  .incomes-add {
    background-color: var(--blue3-color) !important;
  }

  .expenses-actions {
    color: var(--red2-color);
  }

  .incomes-actions {
    color: var(--blue2-color);
  }

  .people-actions {
    color: var(--red2-color);
  }

  th.mat-header-cell {
    // border-bottom: 2px var(--white-color) !important;
    color: var(--white-color) !important;
  }

  .positive {
    color: var(--white-color);
  }

  .negative {
    color: var(--red-color);
  }

  .yield {
    color: var(--green-color);
  }

  .month-name,
  .month-name2 {
    color: var(--month-name-color);
  }

  .mat-expansion-panel-header {
    color: var(--expansion-panel-header) !important;
  }

  .summary {
    background-color: var(--summary-background-color);
  }

  #menu-expenses,
  #menu-icon-expenses {
    color: var(--red-color);
  }

  #menu-expenses2,
  #menu-icon-expenses2 {
    color: var(--blue-color);
  }

  #menu-incomes,
  #menu-icon-incomes {
    color: var(--green-color);
  }

  #menu-incomes2,
  #menu-icon-incomes2 {
    color: var(--blue-color);
  }

  #menu-people,
  #menu-icon-people {
    color: var(--green-color);
  }

  .mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: #0000001f !important;
  }

  //accountspostings
  .mat-input-element {
    caret-color: var(--white-color);
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--white-color);

    &.mat-accent {
      color: $underline-color-accent;
    }

    &.mat-warn {
      color: $underline-color-warn;
    }
  }

  .mat-focused .mat-form-field-required-marker {
    color: var(--white-color);
  }

  .mat-form-field.mat-focused {
    .mat-form-field-ripple {
      background-color: var(--white-color);

      &.mat-accent {
        background-color: $underline-color-accent;
      }

      &.mat-warn {
        background-color: $underline-color-warn;
      }
    }
  }

  .mat-form-field.mat-form-field-invalid {
    .mat-form-field-label {
      color: $underline-color-warn;

      &.mat-accent,
      .mat-form-field-required-marker {
        color: $underline-color-warn;
      }
    }

    .mat-form-field-ripple,
    .mat-form-field-ripple.mat-accent {
      background-color: $underline-color-warn;
    }
  }

  .mat-form-field-type-mat-native-select.mat-focused:not(
      .mat-form-field-invalid
    ) {
    .mat-form-field-infix::after {
      color: var(--white-color);
    }

    &.mat-accent .mat-form-field-infix::after {
      color: $underline-color-accent;
    }

    &.mat-warn .mat-form-field-infix::after {
      color: $underline-color-warn;
    }
  }

  tr:nth-child(even) {
    background: #393939;
  }

  tr:nth-child(odd) {
    background: #424242;
  }

  .mat-header-cell {
    background-color: #393939 !important;
  }

  input[type="number"] {
    text-align: right;
    background-color: #555555;
    color: #ffffff;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #ffffff;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #ffffff;
  }

  .without-category {
    color: var(--yellow) !important;
  }

  .div-expanded-detail1 {
    background: #ffff0000 !important;
  }

  .div-expanded-detail2 {
    background: #00000030 !important;
  }

  th.mat-header-cell:first-of-type.mat-sort-header-container {
    justify-content: flex-end !important;
  }

  // .mat-sort-header-container:first-of-type {
  //   display: flex;
  //   cursor: pointer;
  //   align-items: center;
  //   letter-spacing: normal;
  //   outline: 0;
  //   justify-content: flex-start;
  // }

  .mat-sort-header-arrow {
    color: var(--yellow);
  }

  .card-yield-checked {
    background-color: yellow !important;

    td.mat-cell {
      color: #393939 !important;
    }
  }

  .valor-total-button {
    border: 1px solid #3a3a3a;
    background-color: #3a3a3a;
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave para hover */
  }

  .valor-total-button:hover {
    background-color: #757575; /* Um tom mais claro para o hover */
  }
}

.light-theme {
  @include mat.all-component-colors($light-theme);
  // @include nav.theme($light-theme);

  --toolbar-color: #ffffff;
  --black-color: black;
  --red-color: red;
  --green-color: green;
  --month-name-color: rgb(255, 64, 129);
  --previous-next-month-color: #6e6e6e;
  --mat-expansion-panel-header-color: rgb(112, 112, 112);
  --mat-footer-row-color: rgb(159, 199, 232, 0.7);
  --header-cell-color: var(--mat-footer-row-color);
  --nth-child-even-color: rgb(220, 235, 247);
  --nth-child-odd-color: rgba(200, 223, 242, 0.4);

  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }

  .bg-primary {
    background-color: mat-color($primary-light) !important;
  }

  .sidenav {
    background-color: mat-color($sidenav-light);
  }

  .mat-list-item-content {
    color: var(--toolbar-color);
  }

  .mat-toolbar {
    color: var(--toolbar-color);
  }

  .mat-toolbar a {
    color: var(--toolbar-color);
  }

  .mat-nav-list {
    color: var(--toolbar-color);
  }

  th.mat-header-cell {
    border-bottom: 2px black !important;
    color: rgb(30, 31, 32) !important;
  }

  .positive {
    color: var(--black-color);
  }

  .negative {
    color: var(--red-color);
  }

  .yield {
    color: var(--green-color);
  }

  .month-name,
  .month-name2 {
    color: var(--month-name-color);
  }

  .previous-month,
  .previous-month-reference,
  .next-month,
  .next-month-reference {
    color: var(--previous-next-month-color);
  }

  .mat-expansion-panel-header {
    color: var(--mat-expansion-panel-header-color) !important;
  }

  //summary
  .expenses-actions {
    color: var(--red-color);
  }

  .incomes-actions {
    color: mat-color($primary-light);
  }

  .people-actions {
    color: var(--red-color);
  }

  .incomes-add {
    background-color: mat-color($primary-light) !important;
  }

  tr.summary.mat-footer-row {
    background-color: var(--mat-footer-row-color) !important;
  }

  .mat-header-cell-summary {
    background-color: var(--header-cell-color) !important;
  }

  tr.summary:nth-child(even) {
    background: var(--nth-child-even-color);
  }

  tr.summary:nth-child(odd) {
    background: var(--nth-child-odd-color);
  }

  .saldos {
    background-color: var(--header-cell-color);
  }

  .saldos2 {
    background-color: var(--nth-child-odd-color);
  }

  .saldos3 {
    background-color: var(--nth-child-even-color);
  }

  #menu-expenses,
  #menu-icon-expenses {
    color: var(--red-color);
  }

  #menu-incomes,
  #menu-icon-incomes {
    color: var(--green-color);
  }

  #menu-people,
  #menu-icon-people {
    color: var(--green-color);
  }

  //summary

  //budget

  tr.expenses.mat-footer-row {
    background-color: rgba(244, 177, 132, 0.7) !important;
  }

  tr.incomes.mat-footer-row {
    background-color: var(--mat-footer-row-color) !important;
  }

  .mat-header-cell-expenses {
    background-color: rgba(244, 177, 132, 0.7) !important;
  }

  tr.expenses:nth-child(even) {
    background: rgb(252, 228, 214);
  }

  tr.expenses:nth-child(odd) {
    background: rgb(251, 221, 205);
  }

  .mat-header-cell-incomes {
    background-color: var(--header-cell-color) !important;
  }

  tr.incomes:nth-child(even) {
    background: var(--nth-child-even-color);
  }

  tr.incomes:nth-child(odd) {
    background: var(--nth-child-odd-color);
  }

  //budget

  .mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: #0000001f !important;
  }

  .primary {
    color: #3f51b5;
  }

  .accent {
    color: #ff4081;
  }

  .warn {
    color: #f44336;
  }

  .card-yield-checked {
    background-color: yellow !important;
  }

  .valor-total-button {
    border: 1px solid #a6a6a6;
    background-color: #a6a6a6;
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave para hover */
  }

  .valor-total-button:hover {
    background-color: #e0e0e0; /* Um tom mais claro para o hover */
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

th.mat-header-cell {
  height: 4em !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  border-style: solid !important;
}

td.mat-cell {
  border-style: none !important;
}

tr.mat-row {
  cursor: pointer;
  height: 35px !important;
}

tr:nth-child(even) {
  background: #e0e0e0;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

tr.mat-footer-row {
  height: 3em !important;
}

input.right-align {
  -moz-appearance: textfield;
}

.cancel {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.default-icon {
  line-height: 22px !important;
  margin-right: 6px !important;
  font-size: 30px !important;
}

.default-button {
  margin: 5px 0px 5px 0px !important;
}

.mat-dialog-actions {
  display: flex !important;
  justify-content: center !important;
}

.small-text {
  font-size: 0.8em !important;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.right {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.mytable {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.mytable2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.bg-primary {
  background-color: mat-color($primary-light);
}

.bg-accent {
  background-color: #ff4081;
}

.bg-warn {
  background-color: #f44336;
}

.month-name {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

.month-name2 {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  margin-left: -80px;
}

input[type="number"] {
  text-align: right;
}

.refresh {
  display: flex;
  align-content: center;
  justify-content: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-menu-panel {
  max-width: none !important;
}

.mat-dialog-title {
  margin-top: -40px !important;
}
