/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

th.mat-header-cell {
  height: 4em !important;
  font-size: 1em !important;
  font-weight: bold !important;
  border-style: solid !important;
  border-bottom: 2px black !important;
  color: rgb(30, 31, 32) !important;
}

td.mat-cell {
  border-style: none !important;
}

tr.mat-row {
  cursor: pointer;
  height: 2em !important;
}

tr:nth-child(even) {
  background: #e0e0e0
}

tr:nth-child(even) {
  background: #e0e0e0
}

tr:nth-child(odd) {
  background: #f2f2f2
}

tr.mat-footer-row {
  height: 3em !important;
}

.negative {
  color: red;
}

.positive {
  color: black;
}

.yield {
  color: green;
}

input.right-align {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cancel {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}

.default-icon {
  line-height: 22px !important;
  margin-right: 6px !important;
  font-size: 30px !important;
}

.default-button {
  margin: 5px 0px 5px 0px !important;
}

.mat-dialog-actions {
  display: flex !important;
  justify-content: center !important;
}

.small-text {
  font-size: 0.8em !important;
}

.mat-expansion-panel-header {
  color: rgb(112, 112, 112) !important;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mytable {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.mytable2 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.primary {
  color: #3f51b5;
}

.accent {
  color: #ff4081;
}

.warn {
  color: #f44336;
}

.bg-primary {
  background-color: #3f51b5;
}

.bg-accent {
  background-color: #ff4081;
}

.bg-warn {
  background-color: #f44336;
}

.month-name {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 64, 129);
  padding-top: 20px;
}

.month-name2 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 64, 129);
  width: 100%;
  margin-left: -80px;
}

input[type="number"] {
  text-align: right;
}

.refresh {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
