<div class="container">
  <app-datepicker (referenceChange)="referenceChanges($event)" [budgetId]=1></app-datepicker>
  <!-- SPINNER -->
  <div class="row">
    <div class="row justify-content-center">
      <mat-spinner color="accent" *ngIf="!hideExpensesProgress || !hideIncomesProgress"></mat-spinner>
    </div>
  </div>
  <!-- EXPENSES TABLE -->
  <div class="row" *ngIf="hideExpensesProgress || hideIncomesProgress">
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="expenses">
        <!-- Despesas Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Despesas</th>
          <td mat-cell *matCellDef="let row">
            {{row.description}}</td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- A Pagar Column -->
        <ng-container matColumnDef="toPay">
          <th mat-header-cell *matHeaderCellDef>A Pagar</th>
          <td mat-cell *matCellDef="let row">
            {{row.toPay | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: 'black'}">
            {{toPayTotal | currency : '':''}}</td>
        </ng-container>

        <!-- Pago Column -->
        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef>Pago</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{color: '#e35e6b'}">
            {{row.paid | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: '#e35e6b'}">
            {{paidTotal | currency : '':''}}</td>
        </ng-container>

        <!-- Restante Column -->
        <ng-container matColumnDef="remaining">
          <th mat-header-cell *matHeaderCellDef>Restante</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{color: '#e35e6b'}">
            {{row.remaining | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: '#e35e6b'}">
            {{expensesRemainingTotal | currency : '':''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedExpensesColumns; sticky: false"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedExpensesColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedExpensesColumns; sticky: false"></tr>
      </table>
    </div>
  </div>
  <hr>
  <!-- INCOMES TABLE -->
  <div class="row" *ngIf="hideExpensesProgress || hideIncomesProgress">
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="incomes">
        <!-- Receitas Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Receitas</th>
          <td mat-cell *matCellDef="let row">
            {{row.description}}</td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <!-- A Receber Column -->
        <ng-container matColumnDef="toReceive">
          <th mat-header-cell *matHeaderCellDef>A Receber</th>
          <td mat-cell *matCellDef="let row">
            {{row.toReceive | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: 'black'}">
            {{toReceiveTotal | currency : '':''}}</td>
        </ng-container>

        <!-- Recebido Column -->
        <ng-container matColumnDef="received">
          <th mat-header-cell *matHeaderCellDef>Recebido</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{color: 'black'}">
            {{row.received | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: 'black'}">
            {{receivedTotal | currency : '':''}}</td>
        </ng-container>

        <!-- Restante Column -->
        <ng-container matColumnDef="remaining">
          <th mat-header-cell *matHeaderCellDef>Restante</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{color: 'black'}">
            {{row.remaining | currency : '':''}}</td>
          <td mat-footer-cell *matFooterCellDef [ngStyle]="{color: 'black'}">
            {{incomesRemainingTotal | currency : '':''}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedIncomesColumns; sticky: false"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedIncomesColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedIncomesColumns; sticky: false"></tr>
      </table>
    </div>
  </div>
</div>
