.table-container {
  width: 100%;
  height: auto;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-description {
  width: 500px;
}

.mat-column-toPay {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.mat-column-paid {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.mat-column-toReceive {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.mat-column-received {
  width: 125px;
  text-align: right;
  padding-right: 5px;
}

.mat-column-remaining {
  width: 125px;
  text-align: right;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-panel-budget {
  margin-top: 10px !important;
  padding-bottom: -50px !important;
}

.mat-column-actions {
  width: 5px;
  padding-right: 0px !important;
  text-align: right;
}

.mat-column-amount,
.mat-column-perc {
  text-align: right;
}
