<div class="">
  <form [formGroup]="accountPostingFormGroup">

    <div class="cancel">
      <button class="default-button" mat-mini-fab matTooltip="Cancelar" color="accent" aria-label="Cancelar"
        (click)="cancel()">
        <mat-icon class="default-icon">close</mat-icon>
      </button>
    </div>

    <h2 mat-dialog-title>{{setTitle()}}</h2>
    <div mat-dialog-content>

      <div class="row">
        <div class="col">
          <app-datepickerinput [currentDate]="accountPosting.date" (currentDateChanged)="currentDateChanged($event)">
          </app-datepickerinput>
        </div>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <input type="text" id="descriptionFormControl" required matInput formControlName="descriptionFormControl"
            [(ngModel)]="accountPosting.description" onfocus="this.select()" cdkFocusInitial
            [readonly]="accountPosting.type == 'Y'">
          <mat-error *ngIf="accountPostingFormGroup.get('descriptionFormControl')?.hasError('required')">
            Campo <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" floatLabel="always" style="width:120px !important">
            <mat-label>Valor</mat-label>
            <input matInput type="number" inputmode="numeric" formControlName="amountFormControl"
              [(ngModel)]="accountPosting.amount" placeholder="0" onfocus="this.select()">
            <mat-error *ngIf="accountPostingFormGroup.get('amountFormControl')?.hasError('required')">
              Campo <strong>obrigatório</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Conta</mat-label>
          <mat-select mat-input [(ngModel)]="accountPosting.accountId" formControlName="accountFormControl">
            <mat-option>-- Nenhuma --</mat-option>
            <mat-option *ngFor="let account of accountsList" [value]="account.id">{{ account.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="accountPostingFormGroup.get('accountFormControl')?.hasError('required')">
            Campo <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Comentário</mat-label>
          <textarea matInput [(ngModel)]="accountPosting.note" formControlName="noteFormControl"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div mat-dialog-actions>
          <button [disabled]="!accountPostingFormGroup.valid" class="default-button" mat-mini-fab matTooltip="Salvar"
            matTooltipPosition="above" color="primary" aria-label="Salvar" [mat-dialog-close]="accountPosting"
            (click)="save()">
            <mat-icon class="default-icon">save</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
