<div class="container">
  <br>
  <mat-card>
    <mat-card-title>{{setTitle()}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="userFormGroup">
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" id="nameFormControl" required matInput formControlName="nameFormControl"
              [(ngModel)]="user.name" cdkFocusInitial autocomplete="off">
            <mat-error *ngIf="userFormGroup.get('nameFormControl')?.hasError('required')">
              Campo <strong>obrigatório</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Usuário</mat-label>
            <input type="text" id="loginFormControl" matInput formControlName="loginFormControl"
              [(ngModel)]="user.login" autocomplete="off" readonly>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="passwordFormControl" required matInput
              formControlName="passwordFormControl" [(ngModel)]="user.password" autocomplete="new-password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="userFormGroup.get('passwordFormControl')?.hasError('required')">
              Campo <strong>obrigatório</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <div class="row center">
      <button mat-fab color="warn" (click)="save()" *ngIf="hideProgress">
        <mat-icon class="default-icon">save</mat-icon>
      </button>
      <div class="row center">
        <div class="row justify-content-center">
          <mat-spinner color="accent" strokeWidth="7" diameter="50" *ngIf="!hideProgress"></mat-spinner>
        </div>
      </div>
    </div>
  </mat-card>
  <br>
</div>
